<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.DGU"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="s">
        <activity
            android:name=".video.VideoActivity"
            android:parentActivityName=".video.VideoActivity" />
        <activity
            android:name=".quiz.QuizActivity"
            android:parentActivityName=".quiz.QuizActivity" />
        <activity
            android:name=".youtube.VideoFullScreen"
            android:parentActivityName=".youtube.VideoFullScreen" />
        <activity
            android:name=".youtube.ListVideos"
            android:parentActivityName=".youtube.ListVideos" />
        <activity
            android:name=".ui.UrlActivity"
            android:parentActivityName=".ui.UrlActivity" />
        <activity
            android:name=".ui.PdfListActivity"
            android:parentActivityName=".ui.PdfListActivity"
            android:theme="@style/Theme.DGU.NoActionBar" />
        <activity
            android:name=".ui.CalculatorActivity"
            android:parentActivityName=".ui.CalculatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DGU.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PDFActivity"
            android:parentActivityName=".ui.PDFActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>